<!-- index.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block content %}
{% csrf_token %}
<script>csrf_token= "{{ csrf_token }}"</script>

<div class="card mt-3">
    <div class='card-body'>
        <form id="ajax_form">
            <label for="target" class="form-label">Search Target:</label>
            <input type="text" class="form-control" name="target" placeholder="eg. WBGene00000010">
        </form>
        <hr>
        <button class="btn btn-outline-primary" id="submit">Submit</button>
    </div>
    <div id="table-container">
        <table id="result_table" class="table_margin"></table>
        <table id="link_table" class="table_margin"></table>
    </div>
</div>
{% endblock %}