<!-- index.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block content %}
{% csrf_token %}
<script>csrf_token= "{{ csrf_token }}"</script>

<div class="card mt-3" style="margin: 50px;">
    <div class='card-body'>
        <form id="ajax_form">
            <label for="target" class="form-label">Search Target:</label>
            <input id="input_data" type="text" class="form-control" name="target" placeholder="eg. WBGene00000010">
        </form>
        <hr>
        <button class="btn btn-outline-primary" id="submit">Submit</button>
    </div>
    <div id="table-container" style="margin: 50px;">
        <table id="result_table" class="hover cell-border"></table>
        <table id="link_table" class="row-border hover order-column display"></table>
    </div>    
</div>

{% endblock %}