.selfbtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 45%;
}

.table-container {
    margin: 50px;
}

.text-same-case {
    font-family: monospace;
}

.line-number {
    display: inline-block;
    /* 将文本变为块级元素以设置宽度 */
    width: 5em;
    /* 设置文本宽度为五个字符的宽度 */
    text-align: right;
}

.sequence_container {
    margin-top: 30px;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.UTR {
    background-color: lightgray !important;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* ===========================pirscan=======================================*/
#b{
    background-color:skyblue;
    font-family: monospace;
}

#g{
    background-color: rgb(109, 221, 109);
    font-family: monospace;
}

#L{
    font-size: 15pt;
    color: red;
    font-family: monospace;
}

span .y{
    background-color: yellow; /*Add your desired color*/
    font-family: monospace;
  }

mark{
    padding: 0;
    background-color: yellow; /*Add your desired color*/
}
.pairing-sequence {
    text-align: left;
    font-family: monospace;
}
span{
    font-family: monospace;
}

#tooltips2 table, #tooltips2 th, #tooltips2 td {
    border: 1px solid black;
    border-collapse: collapse;
}